<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 속성값은 Mapper 인터페이스와 동일한 이름으로 작성 -->
<mapper namespace="org.project.mapper.BoardMapper">

	<!-- getPostList(get) -->
	<select id="getList" resultType="org.project.domain.BoardVO">

	<![CDATA[
		select * from tbl_board where bno > 0
		]]>
	</select>	<!-- SELECT * FROM board; -->


	<!-- createPost(post) -->
	<insert id="insert" parameterType="org.project.domain.BoardVO">
		insert into tbl_board (title, content, writer, createdDate)
		values (#{title}, #{content}, #{writer}, #{createdDate})
		<selectKey resultType="java.lang.Long" keyProperty="bno" order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>


	<!-- getPost(get) -->
	<select id="read" resultType="org.project.domain.BoardVO">
		select * from tbl_board where bno = #{bno}
	</select>


	<!-- deletePost(delete) -->
	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM tbl_board WHERE bno = #{bno}
	</delete>


	<!-- modifyPost(update) -->
	<update id="modify" parameterType="org.project.domain.BoardVO">
    UPDATE tbl_board
    SET title = #{title}, content = #{content}, writer = #{writer}, updatedDate = #{updatedDate}
    WHERE bno = #{bno}
	</update>


</mapper>