<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.project.mapper.MemberMapper">


	<resultMap type="org.project.domain.MemberVO" id="memberMap">
		<id property="userid" column="userid" />
		<result property="userid" column="userid" />
		<result property="userpw" column="userpw" />
		<result property="username" column="username" />
		<result property="email" column="email" />	
		<result property="regDate" column="regdate" />
		<result property="updateDate" column="updatedate" />
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>


	<resultMap type="org.project.domain.AuthVO" id="authMap">
		<result property="userid" column="userid" />
		<result property="auth" column="auth" />
	</resultMap>

	<!-- 회원정보(로그인) -->
	<select id="read" resultMap="memberMap">
		SELECT
		mem.userid, mem.userpw, mem.username, mem.email, mem.status, mem.regdate, mem.updatedate, auth.auth
		FROM member mem
		LEFT OUTER JOIN
		member_auth auth ON mem.userid = auth.userid
		WHERE mem.userid = #{userid}
	</select>
	
	<insert id="registerMember" parameterType="org.project.domain.MemberVO">
    <!-- 회원 정보 입력 -->
    INSERT INTO member (userid, userpw, username, email)
    VALUES (#{userid}, #{userpw}, #{username}, #{email});
	</insert>
	
	<insert id="registerMemberAuth" parameterType="java.util.List">
	    <!-- 회원 권한 정보 입력 -->
	    <foreach collection="list" item="auth" separator=";">
	        INSERT INTO member_auth (userid, auth)
	        VALUES (#{auth.userid}, #{auth.auth});
	    </foreach>
	</insert>
	
    <!-- 회원 가입 -->
<!-- 	<insert id="registerMember" parameterType="org.project.domain.MemberVO">
		INSERT INTO member (userid, userpw, username, email)
		VALUES (#{userid}, #{userpw}, #{username}, #{email});
		
	<foreach collection="authList" item="auth" separator=";">
		INSERT INTO member_auth (userid, auth)
		VALUES (#{userid}, ROLE_USER);
	</foreach>
	</insert> -->

		<!-- 권한 정보 입력 -->
<!-- 	<insert id="registerMemberAuth" parameterType="String">
		INSERT INTO member_auth (userid, auth)
		VALUES (#{userid}, #{auth});
	</insert> -->

	<!-- 시큐리티 > 권한 디폴트 적용 후 삭제예정 -->
<!-- 		<if test="authList != null and authList.size() > 0">
			<foreach collection="authList" item="auth" separator=";">
				INSERT INTO member_auth (userid, auth)
				VALUES (#{userid}, #{auth});
			</foreach>
		</if> -->


</mapper>
